# dependencies
/node_modules
/ios/build
/android/build

# misc
/.expo/
/.expo-shared/
/.idea/
.DS_Store
.env
.web/
app.json
eas.json

# metro
/metro-cache

# generated
/android/app/src/main/res/drawable/*
!/android/app/src/main/res/drawable/node_modules
*.key
*.apk

data\
data/
venv/
venv\
__pycache__/
