.git/
.git\
.git
backend
config_script.py
get_ip.py
license
README.md
*.apk

backend/
frontend/.expo/
frontend/android/build/
frontend/android/.gradle/
frontend/android/app/build/
frontend/android/app/.cxx/
frontend/build/
frontend/.gradle/
frontend/app/build/
frontend/app/.cxx/
frontend/exemplo.app.json.base
frontend/exemplo.eas.json.base
frontend/android/app/src/main/res/xml/exemplo_network_security_config.xml
frontend/android/app/src/main/exemplo.AndroidManifest.xml
frontend/app/src/main/res/xml/exemplo_network_security_config.xml
frontend/app/src/main/exemplo.AndroidManifest.xml
frontend/node_modules/
frontend/npm-debug.log
frontend/yarn-error.log
frontend/.git/
frontend/.hg/
frontend/.svn/
frontend/*.apk
frontend/*.jks
frontend/*.p12
frontend/*.keystore
frontend/*.local
frontend/*.log
frontend/.idea/
frontend/.vscode/
frontend/ios/

backend\
frontend\.expo\
frontend\android\build\
frontend\android\.gradle\
frontend\android\app\build\
frontend\android\app\.cxx\
frontend\build\
frontend\.gradle\
frontend\app\build\
frontend\app\.cxx\
frontend\exemplo.app.json.base
frontend\exemplo.eas.json.base
frontend\android\app\src\main\res\xml\exemplo_network_security_config.xml
frontend\android\app\src\main\exemplo.AndroidManifest.xml
frontend\app\src\main\res\xml\exemplo_network_security_config.xml
frontend\app\src\main\exemplo.AndroidManifest.xml
frontend\
frontend\node_modules\
frontend\npm-debug.log
frontend\yarn-error.log
frontend\
frontend\.git\
frontend\.hg\
frontend\.svn\
frontend\
frontend\*.apk
frontend\*.jks
frontend\*.p12
frontend\*.keystore
frontend\*.local
frontend\*.log
frontend\.idea\
frontend\.vscode\
frontend\
frontend\ios\
